@media(max-width:961px){

    :root{
        --space-default: 30px;
    }
   
main{
    grid-template-columns: 1fr;
}
.section-title{
    display: flex;
    justify-content: start;
    padding-left: 100px;
    
}
.titulo{
    display: flex;
    justify-content: start;
    font-size: 4rem;
    
}
.logo-final{
    
    right: 1px;
}

.home{
    display: flex;
    justify-content: start;
    height: 70vh;
    background-image: url(./img/phil-desforges-ow1mML1sOi0-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    
}
.titulo{
    font-size: 2rem;
}
.linha{
    display: none;
}
.images{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 100px;
    gap: 250px;
    font-size: 2.5rem;
}
.texts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-weight: 300;
}

.fulfilment{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
}
.text{
    display: flex;
    width:70%;
}
.text_pai{
    display: flex;
    
    
    
}
.image__text{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.image_logic{
    width: 50%;
    height: 100%;
}

.solutions{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 70vh;
}
.text__image{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.image{
    width: 40%;
    height: 50%;
    padding-left: 0;
}

.delivery{
    height: 70vh;
}
.image__textt{
    display: flex;
    flex-direction: column;
}
.image-delivery{
    height: 90%;
    width: 50%;
}

.contato{
    display: flex;
    justify-content: center;
    height: 70vh;
}
.icons_somosux{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 100px;
}
.classp{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
}



}

@media(max-width:940px){

    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 80vh;
        gap: 80px;
    }
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 150px;
        font-size: 4.5rem;
    }
    .texts{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: center;
        font-size: 1.8rem;
    }

    .fulfilment{
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .title{
        font-size: 3rem;
    }
    .text{
        display: flex;
        
        width: 100%;
    }

    .solutions{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        padding: 0;
    }
    .pai_{
        display: flex;
        flex-direction: column;
    }
    .title_solutions{
        font-size: 3rem;
    }
    .subtitulo{
        font-size: 1.5rem;
    }
    .delivery{
        height: 70vh;
    }
    .contato{
        height: 140vh;
        
    }
    .classp{
        display:flex ;
        gap: 80px;
        align-items: center;
        justify-content: start;
        font-size: 1rem;
       
    }
    .somos_ux_contato{
        font-size: 3rem;
    }
    .logo_contato{
        width: 40%;
    }
}